* {
  box-sizing: border-box; }

html {
  font-family: 'Manjari', sans-serif;
  font-size: 16px;
  color: #3a5151; }

body {
  margin: 0; }

body:after {
  content: "";
  position: fixed;
  /* stretch a fixed position to the whole screen */
  top: 0;
  height: 100vh;
  /* fix for mobile browser address bar appearing disappearing */
  left: 0;
  right: 0;
  z-index: -1;
  /* needed to keep in the background */
  background: url("/img/mado-el-khouly-MA8YoAoKpfY-unsplash.jpg") center center; }
  @media (min-width: 768px) {
    body:after {
      background: rgba(225, 165, 165, 0.8) url("/img/mado-el-khouly-MA8YoAoKpfY-unsplash.jpg") center/cover no-repeat fixed;
      background-size: 100%; } }

main {
  display: flex;
  flex-direction: column; }
